
.container{

  width: 95%;
  margin: auto;
}
.mat-tab-labels{
  margin-bottom: 50px;
}
mat-tab{
  margin-bottom: 50px;
}
table {
  width: 95%;
}

.mat-form-field {
  font-size: 14px;
  width: 75%;
  margin: 15px;
}
.mat-form-field-flex{
  width: 80% !important;
}
.mat-hint{
  font-size: 14px;
}
