<div class="container my-4">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="my-4">
    <mat-card-header>
      <mat-card-title>Person Group Control</mat-card-title>
      <mat-card-subtitle
        >All Of Person Operation and all Actions</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="faces-headers">
        <h3>Name : {{ selectedPerson?.name }}</h3>
        <p>
          UserData :
          {{ selectedPerson?.userData }}
        </p>
      </div>

      <div class="mx-2">
        <button
          class="mx-2"
          mat-raised-button
          color="primary"
          (click)="addPersonFaceByUrl()"
          aria-label="Add Face To This Person By Url"
          matTooltip="Add Face To This Person By Url"
          matTooltipPosition="below"
        >
          Add Face By URL
        </button>
        <button
          class="mx-2"
          mat-raised-button
          color="accent"
          (click)="addPersonFaceFromLocal()"
          aria-label="Add Face From Local Machine"
          matTooltip="Add Face This From Local Machine"
          matTooltipPosition="below"
        >
          Add Face From Local Machine
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <ng-container *ngFor="let personFace of personFaces; let i = index">
    <div class="face-card m-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Face #{{ i + 1 }}</mat-card-title>
          <mat-card-subtitle
            >Face ID : {{ personFace.persistedFaceId }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <!-- [src]="personFace.userData | imgDefualt: defImg" -->
          <img
            [src]="personFace.userData | imgDefualt: defImg"
            height="150px"
            width="150px"
          />
        </mat-card-content>
        <mat-card-actions>
          <button
            class="matBtn"
            color="accent"
            mat-stroked-button
            aria-label="Delete This Face"
            matTooltip="Delete This Face"
            matTooltipPosition="left"
            (click)="deletePersonFace(personFace.persistedFaceId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
