<div class="container my-3">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Request Details</mat-card-title>
      <mat-card-subtitle
      >here all data for this Request and all actions
      </mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="col-12">
            <mat-selection-list [multiple]="false">
              <mat-list-option class="my-2 py-2">
                <div class="items-list-contanier">
                  <div class="right-content">
                    ID
                  </div>
                  <div class="left-content">
                    {{ itemDetails["id"] }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Item Status
                  </div>
                  <div class="left-content">
                    {{ itemDetails["status"] === 0 ? "Pending" : "Approved" }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Name
                  </div>
                  <div class="left-content">
                    {{ itemDetails["name"] }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Description
                  </div>
                  <div class="left-content">
                    {{ itemDetails["description"] }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <mat-chip-list aria-label="Items selection" class="text-center">
                  <mat-chip color="primary" class="m-auto p-2" style="font-size: 20px" selected>Items</mat-chip>
                </mat-chip-list>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option"
                               *ngFor="let question of itemDetails['AllQuestions'];let i = index">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Q#{{ i + 1 }} :{{ question["question"] }}
                  </div>
                  <div class="left-content">
                    {{ question["answer"] }}
                  </div>
                </div>
                <mat-divider></mat-divider>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Created_AT
                  </div>
                  <div class="left-content">
                    {{ itemDetails["created_at"] | date }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    ACTIONS
                  </div>
                  <div class="left-content">
                    <div class="example-flex-container">
                      <button
                        class="matBtn"
                        color="accent"
                        mat-icon-button
                        aria-label="Delete Item"
                        matTooltip="Delete Item"
                        matTooltipPosition="left"
                        (click)="deleteItem(itemDetails['id'])"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                   
                    </div>
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
            </mat-selection-list>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>

