<div class="profileSec">
  <section class="p-3 container">
    <h2 class="p-head mt-4">PROFILE</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="">
      <div class="row">
        <div
          class="col-lg-8 col-md-12 mt-4 bg-mine pt-3 border-white rounded-lg"
        >
          <div class="container-fluid">
            <!------------------------ Name-------------------------->
            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Enter Input Name"
                />
                <mat-icon matSuffix *ngIf="!userForm.controls.name.errors"
                  >sentiment_very_satisfied</mat-icon
                >
                <mat-icon matSuffix *ngIf="userForm.controls.name.errors"
                  >sentiment_dissatisfied</mat-icon
                >
                <mat-hint
                  align="end"
                  *ngIf="
                    userForm.controls.name.errors?.required &&
                    userForm.controls.name.touched
                  "
                  >This Field Is Required</mat-hint
                >
                <mat-hint
                  align="end"
                  *ngIf="userForm.controls.name.errors?.minlength"
                  >Min Length Is 3 Characters
                </mat-hint>
              </mat-form-field>
            </p>
            <!------------------------ Email-------------------------->

            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  placeholder="Enter Input Email"
                />
                <mat-icon matSuffix *ngIf="!userForm.controls.email.errors"
                  >sentiment_very_satisfied</mat-icon
                >
                <mat-icon matSuffix *ngIf="userForm.controls.email.errors"
                  >sentiment_dissatisfied</mat-icon
                >
                <mat-hint
                  align="end"
                  *ngIf="
                    userForm.controls.email.errors?.required &&
                    userForm.controls.email.touched
                  "
                  >This Field Is Required</mat-hint
                >
                <mat-hint
                  align="end"
                  *ngIf="userForm.controls.email.errors?.pattern"
                  >The Email Format Is InValid
                </mat-hint>
              </mat-form-field>
            </p>
            <!------------------------ Phone-------------------------->
            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label>Phone</mat-label>
                <input
                  matInput
                  formControlName="phone"
                  placeholder="Enter Input Phone Number"
                />
                <mat-icon matSuffix *ngIf="!userForm.controls.phone.errors"
                  >sentiment_very_satisfied</mat-icon
                >
                <mat-icon matSuffix *ngIf="userForm.controls.phone.errors"
                  >sentiment_dissatisfied</mat-icon
                >
                <mat-hint
                  align="end"
                  *ngIf="
                    userForm.controls.phone.errors?.required &&
                    userForm.controls.phone.touched
                  "
                  >This Field Is Required</mat-hint
                >
                <mat-hint
                  align="end"
                  *ngIf="userForm.controls.phone.errors?.pattern"
                  >The Phone Format Is InValid
                </mat-hint>
              </mat-form-field>
            </p>

            <mat-card-actions>
              <div
                class="py-3 d-flex justify-content-center align-content-center"
              >
                <button
                  class="rounded-pill btn-mine"
                  mat-raised-button
                  type="submit"
                  [disabled]="userForm.invalid"
                >
                  Confirm
                </button>
              </div>
            </mat-card-actions>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 border-white rounded-lg">
          <div class="container bg-mine mt-4 pb-5 pt-3">
            <h3>Profile picture</h3>
            <!------------------------ Images-------------------------->
            <div
              class="row justify-content-center align-items-center text-center"
            >
              <div
                class="mine d-flex justify-content-center align-items-center text-center"
              >
                <div class="">
                  <img [src]="data['photo']" class="img-fluid" />
                </div>
              </div>
              <div class="">
                <input
                  formControlName="file"
                  style="display: none;"
                  id="file"
                  type="file"
                  #inputFile
                  (change)="onFileChange($event)"
                />
                <button
                  mat-flat-button
                  type="button"
                  class="btn-default btn-file border mt-5 rounded-pill browse-mine"
                  (click)="inputFile.click()"
                >
                  Upload Profile Picture
                </button>
                <mat-hint
                  align="end"
                  *ngIf="
                    userForm.controls.file.errors?.required &&
                    userForm.controls.file.touched
                  "
                  >This Field Is Required</mat-hint
                >
              </div>
              <button
                style="cursor: pointer;"
                id="confirmChangePass"
                class="rounded-pill mt-3 btn-profile1"
                [routerLink]="['/dashboard/account/changepass']"
                routerLinkActive="router-link-active"
              >
                Change password
              </button>
            </div>

            <div class="hide" id="showChangePassword">
              <form method="POST" action="">
                <div class="form-group">
                  <label class="mt-3">Old password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="oldPassowrd"
                  />
                </div>

                <div class="form-group">
                  <label>New password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="newPassword"
                  />
                </div>

                <div class="form-group">
                  <label>Confirm new password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="confirmNewPassword"
                  />
                </div>

                <div class="d-flex justify-content-center">
                  <button class="rounded-pill btn-mine">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
