<div class="container d-flex h-100">
  <div class="row justify-content-center align-items-center">
    <div class="left-content col-md-6 my-4">
      <div class="left-content-img">
        <img
          src="../../../../assets/imgs/auth-images/undraw_authentication_fsn5.svg"
          alt="Login image"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="right-content col-md-6 my-4">
      <div class="right-content-form">
        <h3 class="text-center">Reset Password</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
              <mat-hint
                align="end"
                *ngIf="getPassword.errors?.required && getPassword.touched"
                >This Field Is Required</mat-hint
              >
              <mat-hint align="end" *ngIf="getPassword.errors?.minlength"
                >Min Length Is 6 Characters</mat-hint
              >
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="confirmPassword"
              />
              <mat-hint
                align="end"
                *ngIf="getConfPass.errors?.required && getConfPass.touched"
                >This Field Is Required</mat-hint
              >
              <mat-hint
                align="end"
                *ngIf="getConfPass.errors?.confirmedValidator"
                >Password and Confirm Password must be match.</mat-hint
              >
            </mat-form-field>
          </p>
          <div class="submit-btn text-center m-auto">
            <button
              class="login-btn"
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="resetForm.untouched || resetForm.invalid || loading"
              [class.spinner]="loading"
            >
              ReSet
            </button>
          </div>
        </form>

        <button
          mat-button
          color="primary"
          class="float-left"
          [routerLink]="['/auth/login']"
          routerLinkActive="router-link-active"
        >
          Login
        </button>
        <button
          mat-button
          color="warn"
          class="float-right"
          [routerLink]="['/auth/forgetpassword']"
          routerLinkActive="router-link-active"
        >
          Forget Password
        </button>
      </div>
    </div>
  </div>
</div>
