<div class="container m-4">
  <div class="row justify-content-center">
    <div class="login-form w-50">
      <mat-card>
        <mat-card-title>Reset Password</mat-card-title>
        <mat-card-content>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field>
                <input
                  type="password"
                  matInput
                  placeholder="Password"
                  formControlName="password"
                />
                <mat-hint
                  align="end"
                  *ngIf="getPassword.errors?.required && getPassword.touched"
                  >This Field Is Required</mat-hint
                >
                <mat-hint align="end" *ngIf="getPassword.errors?.minlength"
                  >Min Length Is 6 Characters</mat-hint
                >
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <input
                  type="password"
                  matInput
                  placeholder="Password"
                  formControlName="confirmPassword"
                />
                <mat-hint
                  align="end"
                  *ngIf="getConfPass.errors?.required && getConfPass.touched"
                  >This Field Is Required</mat-hint
                >
                <mat-hint
                  align="end"
                  *ngIf="getConfPass.errors?.confirmedValidator"
                  >Password and Confirm Password must be match.</mat-hint
                >
              </mat-form-field>
            </p>

            <mat-card-actions class="button text-center">
              <button
                class="login-btn"
                mat-raised-button
                type="submit"
                color="accent"
                [disabled]="resetForm.untouched || resetForm.invalid || loading"
                [class.spinner]="loading"
              >
                ReSet
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
        <div class="other-actions">
          <div class="example-button-row">
            <button
              mat-button
              color="primary"
              class="float-left"
              [routerLink]="['/auth/login']"
              routerLinkActive="router-link-active"
            >
              Login
            </button>
            <button
              mat-button
              color="warn"
              class="float-right"
              [routerLink]="['/auth/forgetpassword']"
              routerLinkActive="router-link-active"
            >
              Forget Password
            </button>
            <div class="clearfix"></div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
