<div class="container my-4">
  <mat-card class="my-4">
    <mat-card-header>
      <mat-card-title>All Person Groups</mat-card-title>
      <mat-card-subtitle>All Of Groups and all Actions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of allGroups; let i = index">
            <th scope="row">#{{ i + 1 }}</th>
            <td>
              <tr>
                <td>
                  Pserson-Group-ID
                </td>
                <td>
                  {{ group.personGroupId }}
                </td>
              </tr>
              <tr>
                <td>
                  Name
                </td>
                <td>
                  <button
                    class="mx-2"
                    mat-stroked-button
                    color="warn"
                    [routerLink]="['/humans/group', group.personGroupId]"
                    routerLinkActive="router-link-active"
                    matTooltip="GO To This Group"
                    matTooltipPosition="right"
                  >
                    {{ group.name }}
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  User-Data
                </td>
                <td>{{ group.userData }}</td>
              </tr>
              <tr>
                <td>
                  Actions
                </td>
                <td>
                  <div class="mx-2">
                    <button
                      class="m-2"
                      mat-raised-button
                      color="warn"
                      (click)="deletePersonGroup(group.personGroupId)"
                      matTooltip="Delete This Group"
                      matTooltipPosition="below"
                    >
                      Delete Group
                    </button>
                    <button
                      class="m-2"
                      mat-raised-button
                      color="primary"
                      (click)="trainPersonGroup(group.personGroupId)"
                      matTooltip="Train This Group"
                      matTooltipPosition="below"
                    >
                      Train Model
                    </button>
                    <button
                      class="m-2"
                      mat-raised-button
                      color="accent"
                      (click)="getGroupTrainingStatus(group.personGroupId)"
                      matTooltip="Check The Training Status This Group"
                      matTooltipPosition="below"
                    >
                      Check Training Status
                    </button>
                  </div>
                </td>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
