<mat-sidenav-container [class]="themeClass">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="sidenav-toolbar" color="primary">
      <div>
        <!-- <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> -->
        <!-- <div class="user-details m-auto text-center py-2">
          <div class="avatar-img">
            <img
              [src]="userDetails['photo'] | imgDefualt: defImg"
              class="img-fluid rounded-circle"
              alt="userDetails['name'] photo"
              height="75px"
              width="75px"
            />
          </div>
          <h3>{{ userDetails["name"] }}</h3>
        </div>
      -->
        Admin DashBoard
      </div>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item routerLink="admin/" routerLinkActive="active"
        ><mat-icon color="primary">dashboard</mat-icon
        ><span class="mx-2">Dashboard</span></mat-list-item
      >
      <mat-list-item routerLink="admin/users" routerLinkActive="active"
        ><mat-icon color="primary">account_box</mat-icon
        ><span class="mx-2">Users</span></mat-list-item
      >
      <mat-list-item routerLink="/categories" routerLinkActive="active"
        ><mat-icon color="primary">category</mat-icon
        ><span class="mx-2">Categories</span></mat-list-item
      >
      <mat-list-item routerLink="/subcategories" routerLinkActive="active"
        ><mat-icon color="primary">dns</mat-icon
        ><span class="mx-2">Sub-Categories</span></mat-list-item
      >
      <mat-list-item routerLink="tags" routerLinkActive="active"
        ><mat-icon color="primary">local_offer</mat-icon
        ><span class="mx-2">Tags</span></mat-list-item
      >
      <mat-list-item routerLink="inputs" routerLinkActive="active"
        ><mat-icon color="primary" class="mx-1">input</mat-icon
        ><span class="mx-2">Inputs</span></mat-list-item
      >
      <mat-list-item routerLink="items" routerLinkActive="active"
        ><mat-icon color="primary" class="mx-1">bookmarks</mat-icon
        ><span class="mx-2">Items</span></mat-list-item
      >
      <mat-list-item routerLink="requests" routerLinkActive="active"
        ><mat-icon color="primary">compare_arrows</mat-icon
        ><span class="mx-2">Requests</span></mat-list-item
      >
      <mat-list-item routerLink="humans" routerLinkActive="active"
        ><mat-icon color="primary">supervised_user_circle</mat-icon
        ><span class="mx-2">Humans</span></mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mat-sidenav-contentt">
    <!-- [attr.color]="'primary'"
    [attr.background-color]="'warn'" -->
    <mat-toolbar class="main-toolbar" color="primary">
      <div class="left-options">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <span>FindME</span>
      <div class="spacer"></div>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="legacy">
          <input
            type="text"
            placeholder="Search..."
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option['name']"
            >
              <button
                mat-button
                color="primary"
                aria-label="Make Request"
                matTooltip="Claim This Item"
                matTooltipPosition="right"
                [routerLink]="['/dashboard/items/show', option['id']]"
                routerLinkActive="router-link-active"
              >
                <img
                  [src]="option['images'][0][0]['src']"
                  width="30px"
                  height="30px"
                />
                {{ option["name"] }}
              </button>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <div class="right-options">
        <!--------------------------For Notifications ------------------------ -->
        <button
          mat-icon-button
          [matMenuTriggerFor]="notificationsMenu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon
            [matBadge]="notificationsNumber != '0' ? notificationsNumber : ''"
            matBadgeColor="warn"
            >notifications</mat-icon
          >
        </button>
        <mat-menu #notificationsMenu="matMenu">
          <ng-container *ngFor="let notification of AllNotifications">
            <button
              mat-menu-item
              [routerLink]="[notification['url']]"
              routerLinkActive="router-link-active"
              (click)="markAsReaded(notification['id'])"
            >
              {{ notification["body"] }}
            </button>
          </ng-container>
        </mat-menu>
        <!--------------------------For Notifications ------------------------ -->
        <!--------------------------For Themeing ------------------------ -->
        <button
          mat-icon-button
          [matMenuTriggerFor]="themeMenu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>palette</mat-icon>
        </button>
        <mat-menu #themeMenu="matMenu">
          <button mat-menu-item (click)="changrTheme('my-dark-theme')">
            <mat-icon>opacity</mat-icon>
            <span>Dark</span>
          </button>
          <button mat-menu-item (click)="changrTheme('my-light-theme')">
            <mat-icon>invert_colors</mat-icon>
            <span>Light</span>
          </button>
          <button mat-menu-item (click)="changrTheme('my-theme')">
            <mat-icon>invert_colors_off</mat-icon>
            <span>Default</span>
          </button>
          <button mat-menu-item (click)="changrTheme('findme-theme')">
            <mat-icon>invert_colors_off</mat-icon>
            <span>FindME</span>
          </button>
        </mat-menu>
        <!--------------------------For Themeing ------------------------ -->
        <!--------------------------For Account Setting And Loged-Out ------------------------ -->
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu2"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item [routerLink]="['/dashboard/account']">
            <span>Account</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <span>Logout</span>
          </button>
        </mat-menu>
        <!--------------------------For Account Setting And Loged-Out ------------------------ -->
      </div>

      <div class="clearfix"></div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-snackbar></app-snackbar>
  </mat-sidenav-content>
</mat-sidenav-container>
