@import "~@angular/material/theming";
@mixin sidenav-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .mat-sidenav {
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, text);
    &[color="primary"] {
      @include _mat-toolbar-color($primary);
    }
    &[color="accent"] {
      @include _mat-toolbar-color($accent);
    }
    &[color="warn"] {
      @include _mat-toolbar-color($warn);
    }
  }
  .mat-sidenav-content {
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, text);
    &[color="primary"] {
      @include _mat-toolbar-color($primary);
    }
    &[color="accent"] {
      @include _mat-toolbar-color($accent);
    }
    &[color="warn"] {
      @include _mat-toolbar-color($warn);
    }
  }
}
