.mat-form-field {
  font-size: 14px;
  width: 75%;
  margin: 15px;
}
.mat-form-field-flex {
  width: 80% !important;
}
.mat-hint {
  font-size: 14px;
}
.inputs-validators-content {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.inputs-options {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 75%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.inputs-options-content {
  border: 1px dashed black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 35%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-found {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.parent-images {
  position: relative;
}
