<div class="container my-4">
  <div class="row justify-content-center">
    <mat-card class="example-card w-75">
      <mat-card-header>
        <mat-card-title>Add List Control</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="tags-form">
          <form [formGroup]="addListForm" (ngSubmit)="onSubmit()">
            <!------------------------ FAceListID-------------------------->
            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label>FAceListID</mat-label>
                <input
                  matInput
                  formControlName="faceListId"
                  placeholder="Enter FaceListID"
                />
                <mat-icon
                  matSuffix
                  *ngIf="!addListForm.controls.faceListId.errors"
                  >sentiment_very_satisfied</mat-icon
                >
                <mat-icon
                  matSuffix
                  *ngIf="addListForm.controls.faceListId.errors"
                  >sentiment_dissatisfied</mat-icon
                >
                <mat-hint
                  align="end"
                  *ngIf="
                    addListForm.controls.faceListId.errors?.required &&
                    addListForm.controls.faceListId.touched
                  "
                  >This Field Is Required</mat-hint
                >
                <mat-hint
                  align="end"
                  *ngIf="addListForm.controls.faceListId.errors?.minlength"
                  >Min Length Is 3 Characters</mat-hint
                >
              </mat-form-field>
            </p>
            <!------------------------ Name-------------------------->
            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Enter Input Name"
                />
                <mat-icon matSuffix *ngIf="!addListForm.controls.name.errors"
                  >sentiment_very_satisfied</mat-icon
                >
                <mat-icon matSuffix *ngIf="addListForm.controls.name.errors"
                  >sentiment_dissatisfied</mat-icon
                >
                <mat-hint
                  align="end"
                  *ngIf="
                    addListForm.controls.name.errors?.required &&
                    addListForm.controls.name.touched
                  "
                  >This Field Is Required</mat-hint
                >
                <mat-hint
                  align="end"
                  *ngIf="addListForm.controls.name.errors?.minlength"
                  >Min Length Is 3 Characters</mat-hint
                >
              </mat-form-field>
            </p>
            <!------------------------ Name-------------------------->
            <p>
              <mat-form-field appearance="outline" class="w-75">
                <mat-label>User Data</mat-label>
                <input
                  matInput
                  formControlName="userData"
                  placeholder="Enter userData.. this is a description for this group"
                />
                <mat-icon
                  matSuffix
                  *ngIf="!addListForm.controls.userData.errors"
                  >sentiment_very_satisfied</mat-icon
                >
                <mat-icon matSuffix *ngIf="addListForm.controls.userData.errors"
                  >sentiment_dissatisfied</mat-icon
                >
                <mat-hint
                  align="end"
                  *ngIf="
                    addListForm.controls.userData.errors?.required &&
                    addListForm.controls.userData.touched
                  "
                  >This Field Is Required</mat-hint
                >
                <mat-hint
                  align="end"
                  *ngIf="addListForm.controls.userData.errors?.minlength"
                  >Min Length Is 3 Characters</mat-hint
                >
              </mat-form-field>
            </p>
            <mat-card-actions>
              <button
                mat-raised-button
                type="submit"
                color="accent"
                [disabled]="addListForm.invalid"
              >
                Submit
              </button>
            </mat-card-actions>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
