<div class="example-container mat-elevation-z8">
  <div
    class="example-loading-shade"
    *ngIf="isLoadingResults"
  >
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="example-table-container">
    <table
      mat-table
      [dataSource]="data"
      class="example-table table-hover"
      matSort
      matSortActive="id"
      matSortDisableClear
      matSortDirection="asc"
    >
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">
          <button
            class="matBtn"
            color="primary"
            mat-flat-button
            aria-label="Show User"
            matTooltip="Show User"
            matTooltipPosition="right"
            [routerLink]="['/users/view/', row.id]"
            routerLinkActive="router-link-active"
          >
            {{ row.id }}
          </button>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let row">
          <button
            *ngIf="row.active===0;else activated"
            class="matBtn"
            color="primary"
            mat-flat-button
            aria-label="Activate User"
            matTooltip="Activate User"
            matTooltipPosition="right"
            (click)="activate(row.id)"
          >
            Activate
          </button>
          <ng-template #activated>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip selected color="accent">
                Activated
              </mat-chip>
            </mat-chip-list>
          </ng-template>
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
        <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>


</div>
