<div class="container my-4">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="my-4">
    <mat-card-header>
      <mat-card-title>Person Matched To The Image</mat-card-title>
      <mat-card-subtitle
        >Please check The Data And Then You Can Make Request To This
        Person</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="table-tag w-100">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    Person Status
                  </td>
                  <td>
                    {{
                      itemDetails["is_found"] === 1
                        ? "Founded Person"
                        : "Losted Person"
                    }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    Name
                  </td>
                  <td>{{ itemDetails["name"] }}</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>
                    Gender
                  </td>
                  <td>{{ itemDetails["subcat"] }}</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    Location
                  </td>
                  <td>{{ itemDetails["location"] }}</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>
                    Description
                  </td>
                  <td>{{ itemDetails["description"] }}</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>
                    Date
                  </td>
                  <td>{{ itemDetails["date"] }}</td>
                </tr>
                <tr
                  *ngFor="
                    let option of itemDetails['dynamicValues'];
                    let i = index
                  "
                >
                  <th scope="row">{{ i + 7 }}</th>
                  <td>{{ option[0]["name"] }}</td>
                  <td>{{ option[0]["value"] }}</td>
                </tr>
                <tr *ngFor="let image of itemDetails['images']; let i = index">
                  <th scope="row">
                    {{ i + 7 + itemDetails["optionsCount"] }}
                  </th>
                  <td>Image#{{ i + 1 }}</td>
                  <td>
                    <div class="col-md-6 my-2">
                      <img
                        [src]="image[0]['src']"
                        class="img-fluid"
                        style="max-width: 200px; max-height: 300px;"
                      />
                    </div>
                  </td>
                </tr>

                <tr>
                  <th scope="row">
                    {{
                      7 +
                        itemDetails["imagesCount"] +
                        itemDetails["optionsCount"]
                    }}
                  </th>
                  <td>
                    Actions
                  </td>
                  <td class="text-center">
                    <button
                      class="matBtn"
                      color="accent"
                      mat-raised-button
                      aria-label="Request This Person"
                      matTooltip="Request This Person"
                      matTooltipPosition="left"
                      (click)="makeRequest(itemDetails['id'])"
                    >
                      Create Request
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
