/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/theming";

@include mat-core();
@import "./themes/themes.scss";

@import "./themes/my-light-theme.scss";
@import "./themes/my-dark-theme.scss";
@import "./themes/custom-compontent.scss";
@import "./themes/findme-theme.scss";

.my-theme {
  @include angular-material-theme($my-theme);
  @include custom-components-theme($my-theme);
}

.my-light-theme {
  @include angular-material-theme($my-light-theme);
  @include custom-components-theme($my-light-theme);
}

.my-dark-theme {
  @include angular-material-theme($my-dark-theme);
  @include custom-components-theme($my-dark-theme);
}
.findme-theme {
  @include angular-material-theme($findme-theme);
  @include custom-components-theme($findme-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black !important;
}

.spacer {
  flex: 1 1 auto;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin: 15px;
}
.mat-form-field-flex {
  width: 80% !important;
}
.mat-hint {
  font-size: 14px;
}
.login-btn {
  font-size: 18px !important;
}
