<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Category Details</mat-card-title>
      <mat-card-subtitle
        >here all data for this Category and all actions</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="table-tag w-100">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    ID
                  </td>
                  <td>{{ itemDetails["id"] }}</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    Name
                  </td>
                  <td>{{ itemDetails["name"] }}</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>
                    Meta Description
                  </td>
                  <td>{{ itemDetails["meta_description"] }}</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    Meta KeyWords
                  </td>
                  <td>{{ itemDetails["meta_keywords"] }}</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>
                    Number of Sub-Categories
                  </td>
                  <td>{{ itemDetails["number_sub_categories"] }}</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>
                    Created_AT
                  </td>
                  <td>{{ itemDetails["created_at"] | date }}</td>
                </tr>
                <tr
                  *ngFor="
                    let subcat of itemDetails['sub_categories'];
                    let i = index
                  "
                >
                  <th scope="row">{{ i + 7 }}</th>
                  <td>Sub-Cat # {{ i + 1 }}</td>
                  <td>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>
                            Name
                          </td>
                          <td>
                            <button
                              class="matBtn"
                              color="primary"
                              mat-flat-button
                              aria-label="Show Item"
                              matTooltip="Show Item"
                              matTooltipPosition="right"
                              [routerLink]="[
                                '/subcategories/view',
                                subcat['id']
                              ]"
                              fragment="subcategories"
                              routerLinkActive="router-link-active"
                            >
                              {{ subcat["name"] }}
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>
                            Description
                          </td>
                          <td>{{ subcat["meta_description"] }}</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>
                            Number-of-Inputs
                          </td>
                          <td>{{ subcat["number_inputs"] }}</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>
                            Actions
                          </td>
                          <td>
                            <div class="example-flex-container">
                              <button
                                class="matBtn"
                                color="accent"
                                mat-icon-button
                                aria-label="Delete This SubCategory"
                                matTooltip="Delete This SubCategory"
                                matTooltipPosition="left"
                                (click)="
                                  deleteItem(subcat['id'], 'subcategories')
                                "
                              >
                                <mat-icon>delete</mat-icon>
                              </button>
                              <button
                                class="matBtn"
                                mat-icon-button
                                color="primary"
                                aria-label="Update This SubCategory"
                                matTooltip="Update This SubCategory"
                                matTooltipPosition="right"
                                [routerLink]="[
                                  '/subcategories/update',
                                  subcat['id']
                                ]"
                                fragment="subcategories"
                                routerLinkActive="router-link-active"
                              >
                                <mat-icon>settings</mat-icon>
                              </button>
                            </div>
                          </td>
                        </tr>
                        <tr *ngFor="let inp of subcat['inputs']; let i = index">
                          <th scope="row">{{ i + 5 }}</th>
                          <td>Input- # {{ i + 1 }}</td>
                          <td>
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Value</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>
                                    Name
                                  </td>
                                  <td>
                                    <button
                                      class="matBtn"
                                      color="primary"
                                      mat-flat-button
                                      aria-label="Show Item"
                                      matTooltip="Show Item"
                                      matTooltipPosition="right"
                                      [routerLink]="['/inputs/view', inp['id']]"
                                      fragment="inputs"
                                      routerLinkActive="router-link-active"
                                    >
                                      {{ inp["name"] }}
                                    </button>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>
                                    Actions
                                  </td>
                                  <td>
                                    <div class="example-flex-container">
                                      <button
                                        class="matBtn"
                                        color="accent"
                                        mat-icon-button
                                        aria-label="Delete This Input"
                                        matTooltip="Delete This Input"
                                        matTooltipPosition="left"
                                        (click)="
                                          deleteItem(inp['id'], 'inputs')
                                        "
                                      >
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                      <button
                                        class="matBtn"
                                        mat-icon-button
                                        color="primary"
                                        aria-label="Update This Input"
                                        matTooltip="Update This Input"
                                        matTooltipPosition="right"
                                        [routerLink]="[
                                          '/inputs/update',
                                          inp['id']
                                        ]"
                                        fragment="inputs"
                                        routerLinkActive="router-link-active"
                                      >
                                        <mat-icon>settings</mat-icon>
                                      </button>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <th scope="row">#</th>
                  <td>
                    Actions
                  </td>
                  <td>
                    <div class="example-flex-container">
                      <button
                        class="matBtn"
                        color="accent"
                        mat-icon-button
                        aria-label="Delete Item"
                        matTooltip="Delete Item"
                        matTooltipPosition="left"
                        (click)="deleteItem(itemDetails['id'], 'categories')"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button
                        class="matBtn"
                        mat-icon-button
                        color="primary"
                        aria-label="Update Item"
                        matTooltip="Update Item"
                        matTooltipPosition="right"
                        [routerLink]="['/categories/update', itemDetails['id']]"
                        fragment="categories"
                        routerLinkActive="router-link-active"
                      >
                        <mat-icon>settings</mat-icon>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
