<div class="container d-flex h-100">
  <div class="row justify-content-center align-items-center">
    <div class="left-content col-md-6 my-4">
      <div class="left-content-img">
        <img
          src="../../../../assets/imgs/auth-images/undraw_forgot_password_gi2d.svg"
          alt="Login image"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="right-content col-md-6 my-4">
      <div class="right-content-form">
        <h3 class="text-center">Forget Password</h3>
        <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Email"
                formControlName="email"
              />
              <mat-hint
                align="end"
                *ngIf="getEmail.errors?.required && getEmail.touched"
                >This Field Is Required</mat-hint
              >
              <mat-hint align="end" *ngIf="getEmail.errors?.pattern"
                >The Email Format Is InValid</mat-hint
              >
            </mat-form-field>
          </p>
          <div class="submit-btn text-center m-auto">
            <button
              class="login-btn"
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="forgetForm.untouched || forgetForm.invalid || loading"
              [class.spinner]="loading"
            >
              Send Request
            </button>
          </div>
        </form>
        <div class="example-button-row">
          <button
            mat-button
            color="primary"
            class="float-left"
            [routerLink]="['/auth/login']"
            routerLinkActive="router-link-active"
          >
            Login
          </button>
          <button
            mat-button
            color="primary"
            class="float-right"
            [routerLink]="['/auth/signup']"
            routerLinkActive="router-link-active"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
