<div class="container m-4">
  <div class="row justify-content-center">
    <div class="login-form w-50">
      <mat-card>
        <mat-card-title>Forget Password</mat-card-title>
        <mat-card-content>
          <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field>
                <input
                  type="text"
                  matInput
                  placeholder="Email"
                  formControlName="email"
                />
                <mat-hint
                  align="end"
                  *ngIf="getEmail.errors?.required && getEmail.touched"
                  >This Field Is Required</mat-hint
                >
                <mat-hint align="end" *ngIf="getEmail.errors?.pattern"
                  >The Email Format Is InValid</mat-hint
                >
              </mat-form-field>
            </p>

            <mat-card-actions class="button text-center">
              <button
                class="login-btn"
                mat-raised-button
                type="submit"
                color="accent"
                [disabled]="
                  forgetForm.untouched || forgetForm.invalid || loading
                "
                [class.spinner]="loading"
              >
                Send Request
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
        <div class="other-actions">
          <div class="example-button-row">
            <button
              mat-button
              color="primary"
              class="float-left"
              [routerLink]="['/auth/login']"
              routerLinkActive="router-link-active"
            >
              Login
            </button>
            <div class="clearfix"></div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
