/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.example-tab-icon {
  margin-right: 8px;
}
.ng-template {
  margin: 15px;
}
.tags-container {
}
.tags-table {
  margin: 15px;
}
.tags-form {
  margin-top: 20px;
}
.mat-card-title {
  text-align: left;
}
